# Logs
.env

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
e-shikshan.onrender.…/api/auth/profile:1 
 Failed to load resource: the server responded with a status of 413 ()

api.js:39 API Response Error: Request failed with status code 413
api.js:41 Status: 413, Data: 
Object
Profile.jsx:179 Error updating profile: 
AxiosError
handleSaveProfile	@	Profile.jsx:179
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
